._1j03{background:#fff;bottom:6px;left:4px;max-width:480px;min-width:240px;overflow:hidden;position:relative}
._3mjx{position:relative}._5bm1{margin-left:4px}._3mjw{position:absolute;right:8px;top:10px}

#bootloader_Vuluv{height:42px;}.bootloader_Vuluv{display:block!important;}