._2g56{bottom:0;color:#fff;left:0;position:absolute;width:100%}._2g57{bottom:0;left:0;position:absolute}._2g58{background:rgba(0, 0, 0, .5);border-radius:4px;bottom:0;position:absolute;right:0}
._2wjo{-webkit-filter:blur(6px) grayscale(80%)}._2wjr{background:#7f7f7f}._2wjs{overflow:hidden;position:relative}

#bootloader_hVj3B{height:42px;}.bootloader_hVj3B{display:block!important;}