{% extends 'base/base_datos_agenda_dupla.html' %}

{% block content %}


<!-- Used to open the Modal -->
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_centro' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu </a></li>
  
  <li><a href="{% url 'dupla:ListarEstablecimientos' %}"data-toggle="tooltip" title="Ir listado de Fichas estudiantes !">Volver </a></li>
 
  <li class="active"> Listado </li> 
</ul>
<h3><strong>Listado de planes externos </strong>
 <span class="label label-danger">Al {% now "SHORT_DATE_FORMAT" %} a las {% now "TIME_FORMAT"  %} </span></h3>

<p>

	<strong> Seleccionar  plan externo Para el establecimiento {{escuela.nombre}} </strong> 
	
</p>
</ul>



<table id="example" class="table table-bordered" fontsize =10px>
	<thead>
		<tr>
		
			<td>Nª:</td>
			<td>Derivado el /Estado:</td>
			
			<td>Opciones sobre Ficha</td>
		</tr>
		
	</thead>
	<tbody>
		{% if planes %}
		{% for mascota in planes %}
		<tr>
					
			<td>Nª {{mascota.id}}<td>
			<dd><small>{{ mascota.nombre}}</small></dd>
 			<td><a class="btn btn-success btn-sm" href="{% url 'bitacora:PlanesExternoEscuelaListView' mascota.id escuela.id %}">Ver planificación</a></td>	
			
		
			</td>
				
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de intervenciones </h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>





{% endblock%}

