{% extends 'base/base_usuario.html' %}
{% block content %}

<h3>Listado de establecimientos asignados a : <strong> Coordinación </strong></h3>
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			
			
			<td>Establecimiento </td>
			<td>Opciones</td>
			<td>Plan Formación Convivencia</td>
			<td>Plan Gestión</td>
		


		</tr>
		
	</thead>
	<tbody>
		{% if profesional %}

		<tr>
		
		
		{% for escuela in profesional %}
			
		<td>
		{{ escuela.nombre}}
			

		
		
		
			<td>
			

		
				
				<a class="btn btn-primary btn-xs" href="{% url 'alumno:listar_estudiantes_establecimiento_supervisor' escuela.id %}"><small>Act. Dupla</small></a>
				
			
			
				<a class="btn btn-warning btn-xs" href="{% url 'dupla:listar_convivencia_escolar_supervisor' escuela.id %}"><small>Encargado</small></a>
				

			
			</td>
			<td>

			<a class="btn btn-info btn-xs" href="{% url 'dupla:DiagnosticoListViewTodos_supervisor' escuela.id  %}"><small>Diagnósticos</small></a>

			
			<a class="btn btn-success btn-xs" href="{% url 'plan:PlanListViewTodos_supervisor' escuela.id  %}"><small>Planes</small></a>
			
			
		
			
			</td>
			<td>

			

			
			<a class="btn btn-success btn-xs" href="{% url 'plan:PlanListViewConvivencia' escuela.id  %}"><small>Planes</small></a>
			
			
		
			
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros relacionados</h1>
		{% endif %}
	</tbody>
</table> 
{% endblock%}