{% extends 'base/base_director.html' %}
{% block content %}



{% if mensaje %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir página Principal!">Inicio</a></li>
  

 </ul> 
 
 {% if estado %}<div class="alert alert-info">
  {{estudiante.nombres|capfirst }} {{estudiante.firs_name|capfirst }} {{mensaje}} {{escuela.establecimiento.nombre}} 
 
	{% else %}<div class="alert alert-danger"> {{mensaje}}{% endif %}



</div></div>

{% else %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_director' %}"data-toggle="tooltip" title="Ir menú inicial!">Menú </a></li>
  
 
 
 </ul> 
<div class="alert alert-success">Búsqueda de registros de la base de datos</div>

{% endif %}

<div class="container">
    
    <hr>
        <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div style="background-color: #f5f5f5; padding: 20px 10px 20px 10px; border-radius: 5px;">
                                        <section>
                            <br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-md-5 col-sm-12">
        <p>&nbsp;</p>
        <article>
            <!-- $_SERVER['HTTP_USER_AGENT'] -->
            <h3>Ingresar rut de  estudiante</h3>
            <p class="text-justify">Ingrese rut sin puntos, para su búsqueda. 


                <strong>en caso que ya exista,  </strong> se despliegan datos y
                <strong>se indica establecimiento - curso </strong> </p>

                        
        </article>
    </div>

    <div class="col-1"></div>
    <div class="col-md-4 col-sm-12">
        


<form action="/alumno/search_listado_otros" method="get">
{% csrf_token %}
        
<table class="table table-bordered"  border=15px fontsize =14px>
  <thead>
  
  <TR class="headt" >
    <TH COLSPAN=2  bgcolor="#E1F8FA" style="text-align:center;" >INGRESE RUT </TH>
    
  </TR>
  <TR>
    <TD COLSPAN=1><input type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT"></TD>
 
    <TD COLSPAN=1> - <input type="text" id="dig" name="dig" style="width:50px;height:25px" maxlength="1"  required oninput="checkRut(this)" placeholder="DIG"></TD>
 
  </TR>
<TR>
    <TH COLSPAN=4  style="text-align:center;" > <input type="submit" class="btn btn-success btn-sm" value="Validar Rut"></TH>
    
  </TR>
  
  
  
  
  </thead>

</table> 

</form>

</div>
   <div class="jumbotron">
	
   {% if estudiante %}	

<br>
<br>
<br>
<br>
  
   <p class="lead">
  <br><h3>{{estudiante.nombres|capfirst }} {{estudiante.firs_name|capfirst }} {{estudiante.last_name|capfirst }}</h3>  
 Existe en la base de datos del Centro de Bienestar.</p>
  <hr class="my-4">
  <p>
    <li>{{estudiante.curso.establecimiento.nombre|capfirst}} / <strong>Curso {{estudiante.curso.get_numero}} {{estudiante.curso.get_letra}}</li></strong>
    <li>Rut: {{estudiante.rut}}</li>
    <li>Fecha nacimiento:{{estudiante.fecha_nacimiento}}</li>
  <li>Domicilio : {{estudiante.domicilio_estudiante}}</li>
  </p>

</div>

    {% endif %}			 

        <div class="col-md-12 col-md-12">

		 {% if ficha %}
			<span class="border border-info">
			<div class="progress">
			  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div></span>

		 <h3>Ficha derivación centro de bienestar:</h3><br>


			{% for fichas in ficha %}
				 Fecha :{{fichas.fecha_derivacion|date:"d-m-Y "}}{% if fichas.estado == 1%}Activa 
 				 <a title="Ver Ficha de derivación" class="glyphicon glyphicon-file" href="{% url 'derivacion:FichaCentroDetailViewimprimirbusqueda' fichas.id fichas.Estudiante.id %}"></a>

<div class="col-md-12 col-sm-12">
 <table  class="table table-bordered" fontsize =10px>
  <thead>
    <tr>
    
      <td>Nª:</td>
      <td>Derivado el /Estado:</td>
      
     


    </tr>
    
  </thead>
  <tbody>


    <tr>
          
      <td> Nª {{fichas.id}}<td>
      <dd><small>{{ fichas.fecha_derivacion|date:"d-m-Y "}}</small></dd>
      {% with estado=fichas.pasada %} 
      {% if estado == 1 %}

      Ficha en bandega de entrada
      
      {% elif estado == 2 %}
      
      
       Espera desde {{ fichas.fecha_espera|date:"d-m-Y "}}
      
      {% elif estado == 3 %}
      
      <a class="btn btn-info btn-xs" href="{% url 'sesion:historia' fichas.id estudiante.id  %}">Historia</a>
      <a class="btn btn-success btn-xs" href="{% url 'dupla:Dupla_casos_centro' estudiante.id  %}">Historia Centro</a>

      En intervención
      
      {% elif estado == 4 %}
      <strong>Otra institución</strong>
      <a class="btn btn-info btn-xs" href="{% url 'sesion:historia' fichas.id estudiante.id  %}">Historia</a>
      
      {% elif estado == 5 %}
      <strong>Retorno</strong>Por falta de información
      
      
      {% elif estado == 6 %}
      <strong>Estudiante dado de alta</strong>
      

      {% elif estado == 7 %}
      <strong>Estudiante en lista de egreso</strong>
      <a class="btn btn-info btn-xs" href="{% url 'sesion:historia' fichas.id estudiante.id  %}">Historia</a>
      {% endif %}

 


    
  
      {% endwith %} 
  

      
    
      
      </td>
    
    </td>
      

    </tr>
 

  </tbody>
</table> 
</div>

<table id="example"  class="table table-striped">
  <thead>
    <tr>
      <td class="success">Nª Total </td>
      <td class="success"># Sesión</td>
      
      <td class="success">Fecha </td>
      <td class="success"> Horario</td>
      
      <td class="success">Objetivo específico</td>
      <td class="success">Participantes</td>
      
      <td class="success">Tipo Sesión</td>
      
    </tr>
  </thead>
  
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog">     
  <tbody>
    
    {% if Sesion %}
    {% for mascota in Sesion %}
    
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ mascota.numero }}</td>
      
      <td>{{ mascota.fecha|date:"d-m-Y "}}</td>
      <td>{{ mascota.get_horario_i}}</td>
    
      <td>{{ mascota.observacion}}</td>
      <td>{{ mascota.get_participantes}}</td>
    
      <td>{{ mascota.tipo_sesion}}</td>

  
        
      
    </tr>

    {% endfor %}
    
    {% else %}
    <h3>Sin anotaciones</h3>
    {% endif %}
  </tbody>
</table> 

<table id="example" class="table table-bordered">
  <thead>
<h4>Resumen general de asistencias de {{estudiante.nombres|capfirst}} {{estudiante.firs_name|capfirst}} {{estudiante.last_name|capfirst}}</h4>
<thead>
    <tr>
      <td>Nª  </td>
      <td>Fecha </td>
      <td>Horario</td>
      <td>Situación</td>
      <td>Ver Confirmación</td>

    </tr>
  </thead>
{% if agendado %}
      
   {% for mascota in agendado %}
  
      <tr>
        
        {% if mascota.numero == 1 %}
        <td class="info">{{ forloop.counter }}</td>
        <td>{{ mascota.fecha|date:"d-m-Y " }}</td>
        
        <td>{{ mascota.get_horario_i}}</td>
        <td> Hora solo agendada
                <ul class="fa-ul">
      
        <i class="fa-li fa fa-spinner fa-spin"></i>Sesión aun no se registra
       
      
      </ul>
        </td>

        {% elif mascota.numero == 2 %}

        <td class="btn-success">{{ forloop.counter }}</td>
        <td class="btn-success">{{ mascota.fecha }}</td>
        
        <td class="btn-success">{{ mascota.get_horario_i}}</td>
        <td class="btn-success">Sesión realizada</td>



        {% else %}

        <td class="danger">{{ forloop.counter }}</td>
        <td class="danger">{{ mascota.fecha|date:"d-m-Y " }}</td>
        
        <td class="danger">{{ mascota.get_horario_i}}</td>
        <td class="danger">Estudiante no asistió</td>

        {% endif %}
        
        <td>  
        <a class="btn btn-info btn-xs" href="{% url 'sesion:confirma_ver_busqueda_otros' estudiante.id mascota.id %}">Ver</a>
      
        </td> 

        
  
  {% for mascota in agenda %}
    <tr>
      
  {% with numero=mascota.numero %} 
     {% if numero == 1 %}
      <span >
           <td>{{ mascota.fecha|date:"d-m-Y "}}</td>
       <td> {{ mascota.get_horario_i}}</td>
      <td>{{ mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name}} </td>
       <td> {{ mascota.participantes}}</td>
      
       <td>{{ mascota.tipo_actividad}}</td>
      
      <td>

      <ul class="fa-ul">
      
        <li><i class="fa-li fa fa-spinner fa-spin"></i>Sesión aun no se registra
       <a class="btn btn-primary btn-xs" href="{% url 'sesion:crear_Sesion_buscador' mascota.id mascota.Estudiante.id %}">Registrar sesión </a>
      <a class="btn btn-danger btn-xs" href="{% url 'sesion:crear_registro' mascota.id mascota.Estudiante.id %}">Ir inasistencia</a>
      </li>
      </ul>
      

      </td>
      </span>

      {% elif numero == 2 %}
      <span class="fa fa-check color-green" ">
                                                
        <td>{{ mascota.fecha|date:"d-m-Y "}}</td>
      <td> {{ mascota.get_horario_i}}</td>
      <td>{{ mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name}} </td>
      <td> {{ mascota.participantes}}</td>
      
      <td>{{ mascota.tipo_actividad}}</td>
      
      <td>

      <i class="fa fa-check-square-o " style="font-size:28px;color: #04B431;"></i>Sesión realizada: Estudiante asistio
      
      
        </td>
      </span>

      {% else%}
      <span style="color: red;">
             <td>{{ mascota.fecha|date:"d-m-Y "}}</td>
       <td> {{ mascota.get_horario_i}}</td>
      <td>{{ mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name}} </td>
       <td> {{ mascota.participantes}}</td>
      
       <td>{{ mascota.tipo_actividad}}</td>
      
      <td>

      <i class="fa fa-close" style="font-size:28px;color:red"></i>Sesión Realizada :Estudiante No asistio
      <a class="btn btn-success btn-xs" href="{% url 'sesion:ver_registro' mascota.id  mascota.Estudiante.id %}">Ir registro asistencia</a>
        </td>                                  
   
       </span>
       {% endif %}
      {% endwith %}   



    </tr>
    {% endfor %}
    

      
        </td>
        
      </tr>
  
      
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de asistencia</h1>
    {% endif %}
  </tbody>
</table> 

				{% else %} Antigua 

				<a title="Ver Ficha de derivación" class="glyphicon glyphicon-list" href="{% url 'derivacion:FichaCentroDetailViewimprimirbusqueda' fichas.id fichas.Estudiante.id %}"></a>
				{% endif %}<br>
		{% endfor %}
		{% endif %}

	
 
 {% if ficha %}
 Fecha derivación dupla psicosocial:<br>


	{% for fichas in ficha_dupla %}

		 {{fichas.fecha_derivacion|date:"d-m-Y "}}{% if fichas.estado == 1%}Activa <a title="Ver Ficha de derivación" class="glyphicon glyphicon-file" href="{% url 'derivacion:FichaCentroDetailViewimprimirsocialbusqueda' fichas.id  fichas.Estudiante.id %}"></a>



		{% else %} Antigua 
		<a title="Ver Ficha de derivación" class="glyphicon glyphicon-file" href="{% url 'derivacion:FichaCentroDetailViewimprimirsocialbusqueda' fichas.id fichas.Estudiante.id %}"></a>
		{% endif %}<br>
{% endfor %}
{% endif %}

</div>





</div>

</div>

  

{% endblock %}
