{% extends 'base/base_datos_agenda_dupla.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h4> Proceso de ingreso de información de estudiantes al establecimiento:  {{escuela.nombre}}.</h4>
{% if mensaje %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir página Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir Menú inicial centro!">Menú </a></li>
  
  <li><a href="{% url 'alumno:profesinal_establecimiento_listar' %}"data-toggle="tooltip" title="Ir listado establecimiento">Volver establecimientos</a></li>
 
 </ul> 
 <div class="alert alert-danger">{{mensaje}} {{escuela.establecimiento.nombre}}</div>
{% else %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir Menú inicial centro!">Menú </a></li>
  <li><a href="{% url 'alumno:estudiante_listar' %}"data-toggle="tooltip" title="Ir listado de estudiantes intervenidos!">Estudiantes intervenidos centro bienestar </a></li>
  
  <li><a href="{% url 'alumno:listar_estudiantes_establecimiento' escuela.id %}"data-toggle="tooltip" title="Ir listado establecimiento">Lista de estudiantes del establecimiento </a></li>
 
 </ul> 
<div class="alert alert-success">Rut correcto, ingresar un nuevo estudiante</div>
{% endif %}

<div class="container">
    
    <hr>
        <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div style="background-color: #f5f5f5; padding: 20px 10px 20px 10px; border-radius: 5px;">
                                        <section>
                            <br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-md-5 col-sm-12">
        <p>&nbsp;</p>
        <article>
            <!-- $_SERVER['HTTP_USER_AGENT'] -->
            <h3>Ingresar nuevo estudiante</h3>
            <p class="text-justify">Ingrese rut sin puntos, para su verificación. 


                <strong>en caso que ya exista,  </strong> se despliegan datos y
                <strong>se indica establecimiento - curso </strong> </p>

                        
        </article>
    </div>
    <div class="col-1"></div>
    <div class="col-md-4 col-sm-12">
        


<form action="/alumno/search/{{escuela.id}}" method="get">
{% csrf_token %}
        
<table class="table table-bordered"  border=15px fontsize =14px>
  <thead>
  
  <TR class="headt" >
    <TH COLSPAN=2  bgcolor="#E1F8FA" style="text-align:center;" >INGRESE RUT </TH>
    
  </TR>
  <TR>
    <TD COLSPAN=1><input type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT"></TD>
 
    <TD COLSPAN=1> - <input type="text" id="dig" name="dig" style="width:50px;height:25px" maxlength="1"  required oninput="checkRut(this)" placeholder="DIG"></TD>
 
  </TR>
<TR>
    <TH COLSPAN=4  style="text-align:center;" > <input type="submit" class="btn btn-success btn-sm" value="Validar Rut"></TH>
    
</TR>
  
  
  
    
  </thead>
  <tbody>

    
    
    
    
  </tbody>
</table> 

</form>
</pre>



 <form method="post" action="/alumno/ingestudianteestable/{{escuela.id}}/" class="form-group">
{% csrf_token %}  
 {% if estudiante.curso %} 
 <h4><strong> Estudiante actualmente en el establecimiento: {{estudiante.curso.establecimiento.nombre}}</strong> </h4>
 
 {% endif %} 
<div class="col-1"></div>
</div>
<hr>
<h3><p class="col-md-8 col-md-offset-2" ><strong>Formulario de ingreso :</strong>  </p></h3>
<div class="altura_50"></div>


<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div >
				<label disabled for="{{form.rut.name}}">{{form.rut.label}} </label>
			
				{{form.rut}}
				
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.nombres.nombres}}">{{form.nombres.label}}</label>
				{{form.nombres}}
			</div>
		</div>
	 	<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.firs_name.name}}">{{form.firs_name.label}}</label>
				{{form.firs_name}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.last_name.name}}">{{form.last_name.label}}</label>
				{{form.last_name}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.fecha_nacimiento.name}}">{{form.fecha_nacimiento.label}}</label>
				{{form.fecha_nacimiento}}
			</div>
		</div>


		
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.domicilio_estudiante.name}}">{{form.domicilio_estudiante.label}}</label>
				{{form.domicilio_estudiante}}
			</div>
		</div>
		
		<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for="{{form2.curso.name}}">{{form2.curso.label}}</label>
						{{form2.curso}}
					</div>
				</div>
		<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for="{{form2.Letra.name}}">{{form2.Letra.label}}</label>
						{{form2.Letra}}
					</div>
				</div>		


		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				
				<button type="submit" class="btn btn-success">Registrar</button>
			</div>
		</div>

</div>
	
</form>


{% endblock %}