<!DOCTYPE html>
{% load static%}
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lorena Marin Valdes">

    <title>{% block title%}{% endblock%}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- Custom CSS -->
    <link href=" {% static 'css/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href=" {% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->

</head>

<body style="">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav" >
          <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'comienza:equipop' %}">Equipo de trabajo</a></li>
          <!-- Dropdown menu-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Objetivos del programa </a>
            
          </li>
          <li><a href="#">Actividades</a></li>
        </ul>
    </div>
</div>



    <!-- Carousel el carrusel se llama myCarousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src='{% static "img/carrusel2.jpg" %}' alt="First slide" >

          <div class="container">
            <div class="carousel-caption">
              <h1>Accion de los equipos</h1>
              <p>Las intervenciones psicosociales
                  en establecimientos educacionales
                    municipales vulnerables bajo
                    el marco de la Ley SEP.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver  </a></p>
            </div>
          </div>
        </div>
        <div class="item">
        <img  alt="" >
          <img src='{% static "img/carrusel2.jpg" %}' alt="Second slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Red Psicosocial dem Cabildo</h1>
              <p>Creciendo para todos con todos.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src='{% static "img/carrusel2.jpg" %}' alt="Second slide" alt="Third slide" src="">
          <div class="container">
            <div class="carousel-caption">
              <h1>De la intervención</h1>
              <p>CLa intervenci´on psicosocial se justifica, independiente
                del contexto donde se aplique, a ra´ız de la
                mejora del bienestar de una población objetivo</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="/" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/duplas4.jpg" %}' alt="140x140" src="data:image/p" style="width: 140px; height: 140px;">
          <h2>Lineamiento General</h2>
          <p>Lineamiento del equipo con enfique en el proceso de desarrollo de actividades ecologicas</p>
          <p><a class="btn btn-default" href="http://bootstrapdocs.com/v3.0.3/docs/examples/carousel/#" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/duplas5.jpeg" %}' alt="140x140" src="data:image/" style="width: 140px; height: 140px;">
          <h2>Psicosociales actuales</h2>
          <p>La importancia del trabajo de las duplas Psicosociales esta marcado por la accion en terreno... </p>
          <p><a class="btn btn-default" href="http://bootstrapdocs.com/v3.0.3/docs/examples/carousel/#" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src='{% static "img/duplas6.jpg" %}' alt="140x140" src="data:image/" style="width: 140px; height: 140px;">
          <h2>Orientaciones</h2>
          <p>Orientaciones generales del Psicosocial y la unidad de convivencia de la comuna  </p>
          <p><a class="btn btn-default" href="http://bootstrapdocs.com/v3.0.3/docs/examples/carousel/#" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">H.P.V. <span class="text-muted"> Programa Asociado</span></h2>
          <p class="lead">Es un modelo psicosocial que incorpora acciones de detección y prevención  del riesgo; promoviendo estrategias de autocuidado y desarrollando habilidades para la convivencia de los diferentes actores de la comunidad escolar. Trabaja a partir de un diagnostico situacional a nivel local y activa las redes de la escuela y de la comuna para coordinar acciones de salud mental de niños y adolescentes en interacción con sus adultos significativos, como son sus padres y profesores.

</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src='{% static "img/hpv.jpg" %}' alt="500x500" src="data:image/png;
          ">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src='{% static "img/convivencia.jpg" %}' alt="500x500" src="data:image/">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"> Convivencia escolar <span class="text-muted">¡¡¡¡</span></h2>
          <p class="lead">El Ministerio de Educación tiene la misión de orientar las acciones educativas en función del desarrollo integral de los y las estudiantes, tanto en su crecimiento personal como en su inserción activa y participativa en la sociedad; en este contexto, la convivencia escolar adquiere especial relevancia, en tanto ejercita a los y las estudiantes en cómo vivir y relacionarse armónicamente con los demás en los diversos espacios de interacción.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Acciones. <span class="text-muted">Accionar de nuestros profesionales.</span></h2>
          <p class="lead">Lineamientos generales del programa Psicosocial dentro de la comuna, incorporando tanto a las formaciones educacionales de enseñanza básica y media.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src='{% static "img/valores.jpg" %}' alt="500x500" src="data:image/png">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Centro de Convivencia</strong>
                    </h4>
                    <p>Ubicado en Liceo Polivalente Aª2 Cabildo
                        <br>Zoila Gac #639</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (33) xx xx xx</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">bienestardecabildo@gmail.cl</a>
                        </li>
                        <li><img class="img-portfolio img-responsive" src='{% static "img/formulario_contacto.png" %}' ><a href=""><strong>Formulario de contacto</strong></a>
                        <div class="portfolio-item">
                        <a href=""></a>
                    </div>
                </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.facebook.com"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/login?lang=es"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Todos los derechos Reservados &copy; Sitio webs 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>

    

    </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
  

</body>
</body>

</html>
