{% extends "base/base_certificados.html" %}
{% load static%}
{% block title%} Equipo de trabajo{% endblock%}

{% block titulo1 %} Encargados y encargadas de convivencia{% endblock%}

{% block content %}
    
<table class="table table-striped">

{% block inicio %}Listado de encargadas y encargados de convivencia{% endblock %}
<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Liceo A º2</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convicencia :Luis Reyes. </div>

      </div>
  </div>
</div>

</table>


<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Liceo de Minería</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convicencia :Nicol Castillo. </div>
        
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica Araucaria</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convicencia :Fabiola Manzano. </div>
        
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Ecuela Básica Hans Wenke Mengers</div>
  <div class="panel-body">
    <div>
      
        <div class="panel panel-info"> Encargado de convicencia :Carlos Ramirez.</div>
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Colegio Bicentenario </div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Oriana Fernandez. </div>

      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Valle de Artificio </div>
  <div class="panel-body">
    <div>
  
        <div class="panel panel-info"> Encargado de convivencia :Constanza Pulgar.</div>
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica Pablo Neruda  Los Molinos</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Daniela Cortez. </div>
      
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Esceula Básica San Lorenzo</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :María Jose de la Paz. </div>
        
        
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica La Vega</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary">Encargado de convivencia :Paulina Bernal. </div>
        

      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica La Viña</div>
  <div class="panel-body">
    <div>
        
        <div class="panel panel-info"> Encargado de convivencia :Solange Monzon.</div>
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Ester Silva Somarriva Bartolillo</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Paula Martínez. </div>
        
        
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela La Frontera Alicahue</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Daniel Cortéz. </div>
        
        
      </div>
  </div>
</div>

</table>
<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica Los Ángeles La Mora</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Sergio Zuñiga. </div>
        
       
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica el Guayacan</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Patricio Vilches. </div>
        
       
      </div>
  </div>
</div>

</table>

<table class="table table-striped">


<div class="panel panel-default">
 
<div class="panel-heading">Establecimiento : Escuela Básica Las Puertas</div>
  <div class="panel-body">
    <div>
      <div class="panel panel-primary"> Encargado de convivencia :Manuel Solis. </div>
        
       
      </div>
  </div>
</div>

</table>


<div class="row">
                <div class="col-sm-4"><img class="img-portfolio img-responsive" src=></div>
               
                <div class="col-sm-2">
                
                
                <div class="col-sm-2">
                  <a href="#top"><img src='{% static "img/subir.png" %}'></a>
            
           
                </p>
            <div class="col-sm-4">

 
                 
   {% endblock %}          