{% extends "base_no.html" %}
{% load static%}
{% block title%}Modulo secretaria{% endblock%}

{% block menu%}
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav" >
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listados<b class="caret"></b></a>
          <ul class="dropdown-menu">
              
              <li><a href="{% url 'secretaria:secretaria_listar' %}">Visualización Registro de asistencia</a></li>
              <li><a href="{% url 'secretaria:ver_escuela' %}">Listado de sesiones próxima semana </a></li>
              <li><a href="{% url 'secretaria:ver_dia' %}">Listado de sesiones para hoy </a></li>
           
              
           

          </ul>
              
              <li><a href="{% url 'alumno:certificados_listar' %}">Certificado simple</a></li>
              <li><a href="{% url 'alumno:confirma' %}">Listado de confirmaciones</a></li>
              <li><a href="{% url 'usuario:change_password' %}">Cambiar contraseña</a></li>
              
            
         
              <li><a href="{% url 'usuario:cerrar' %}">Cerrar sesión</a></li>
              <ul class="dropdown-menu" role="menu">
                                    
          </ul>

              <!-- Dropdown menu-->
              
            </li>   
          </ul>
          
      

          

              <!-- Dropdown menu-->
              
            </li>   
          </ul>
       </div>
    </div>
</div>
{% endblock%}
  