

{% extends 'base.html' %}
{% load static%}
{% block title%} Programas de Bienestar {% endblock%}
{{ titulo}}
{% block content %}

    
                 
                    
                      {% if user.is_authenticated %}
                      <h3 style="background-color: #4A235A;">
                      <FONT COLOR="white"> Sistema de Gestión de Información WEBs
                      SYSTEMPSICO</h3> </FONT>
                       <br>
                       <br>
                       <br>
                      
                       <br>
                       <br>

                      <h2 ><strong> Le damos la bienvenida a <br> {{user.first_name|capfirst}} {{user.last_name|capfirst}}</strong></h2>
                        
                        
                        <a class="btn btn-danger btn-xs" href="{% url 'usuario:cerrar' %}">Cerrar Sesión</a>
                         <br>
                     
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                        {{perns}}
                        

                        
                      
            
                    {% else %}



                        

                        
           
                   
                    {% endif %}  
          
           
        

{% endblock %}

