{% extends 'base/base_centro.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	

	<script language="JavaScript" type="text/javascript">
	alert("Advertencia --¡¡¡  El egresar a un estudiante es un proceso que NO SE PUEDE REVERTIR , egrese una vez que este segura o seguro  ¡¡¡¡");
	</script>
	<h3 ¡¡¡ Última etapa del proceso de intervención¡¡</h3><br>
	La información de {{dato.nombres|upper}} {{dato.firs_name|upper}} {{dato.last_name|upper}},
	
	<h2><div class="alert alert-danger"> La información saldrá definitivamente del sistema activo
	del Centro de Bienestar. Solo será visible en la opción de Historia</div>
	</h2>
	</h3>
    

	<h4>¿Esta realmente  segura o seguro  de egresar a  {{ dato.nombres|capfirst }} {{dato.firs_name|capfirst}} {{dato.last_name|capfirst}}?</h4>	
	<button class="btn btn-danger" type="submit">Sí, egresar</button>
	<a class= "btn btn-info" href="{% url 'derivacion:intervencion_retorno' %}">Cancelar</a>
</form>


{% endblock %}