{% extends 'base/base_director.html' %}

{% block content %}

	
	



	<div class="panel panel-default">
  <div class="panel-body">
   <h3>Confirmación de estudiante: {{ dato.nombres|capfirst}} {{ dato.firs_name|capfirst}} {{ dato.last_name|capfirst}}</h3>	
  </div>
</div>

<div class="panel panel-primary">
	AGENDADA:
	El día :<strong > {{agendo.fecha}}</strong> a las <strong> {{agendo.horario_i}} hrs.</strong><br>
</div>





	
	{% if confirma %}
	<div class="panel panel-success">
	CONFIRMACION:
		El día  : {{confirma.fecha_confirma}}<br></div>
	<div class="panel panel-info">	
		Resultado de Llamado 1 : {{confirma.get_estado1}}<br>
		{% if confirma.estado2 > 0 %}
		Resultado de Llamado 2 : {{confirma.get_estado2}}<br>
		{% else %}</div>
	<div class="panel panel-warning">	
		Resultado de Llamado 2 : --<br></div>
		{% endif %}
		<div class="panel panel-danger">
		{% if confirma.estado3 > 0 %}
		Resultado de Llamado 3 : {{confirma.get_estado3}}<br>
		{% else %}
		Resultado de Llamado 3 : --<br>
		{% endif %}

		
		Con la observación :{{confirma.obs}}
	
	{% else %}
		Estudiante sin confirmación de sesión
	{% endif %}
	<br>
	
	</div>



{% endblock %}