{% extends 'base/base_centro.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<h3>¿Desea eliminar la cita del estudiante: {{ object.Estudiante.nombres|capfirst}} {{ object.Estudiante.firs_name|capfirst}} {{ object.Estudiante.last_name|capfirst}}?</h3>	
	El día :<strong> {{object.fecha}}</strong> a las <strong> {{object.horario_i}} hrs.</strong><br>
	Participantes :<strong> {{object.participantes}}</strong> a un o a una <strong> {{object.tipo_actividad}}.</strong><br>
	
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-info" href="{% url 'sesion:buscar_citas' object.Estudiante.id %}">Cancelar</a>
</form>
{% endblock %}