{% extends 'base/base_centro.html' %}

{% block content %}
<h3> Listado de interveciones de {{user.first_name|capfirst}} {{user.last_name|capfirst}}. </h3> 
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			<td>Nª </td>
			<td>Estudiante</td>
			<td>Intervención inicio  </td>
			<td>Establecimiento </td>
			<td>Accion</td>
			<td>Acciones</td>
		</tr>
	</thead>
	
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog">
	<tbody>
		
		{% if object_list %}
		{% for mascota in object_list %}
		
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name }} {{ mascota.Estudiante.last_name }}</td>
			<td>{{ mascota.fecha|date:"d-m-Y "}}</td>
			<td> {{ mascota.Estudiante.curso.get_numero}} {{ mascota.Estudiante.curso.get_letra}}  {{ mascota.Estudiante.curso.establecimiento.nombre}}</td>
			<td>{{ mascota.estado }}</td>
				
			<td>
				
				<a class= "btn btn-info" href="{% url 'profesional:profesional_cambiar' mascota.Estudiante.id  %}">Cambiar Profesional</a>
</form>
				
				
				
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay interverciones.</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>



{% endblock%}
