{% extends 'base/base_centro.html' %}

{% block content %}

<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_centro' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menú centro</a></li>
  <li><a href="{% url 'calendario:calendar-ano-mes' %}"data-toggle="tooltip" title="Ir calendario!">Calendario </a></li>
  
    <li><a href="{% url 'profesional:AccionProfesionalCentro' %}"data-toggle="tooltip" title="Asignar horas actividades individuales!">Actividades individuales </a></li>

    <li><a href="{% url 'alumno:ingresar_estudiantes_establecimiento_listado' %}"data-toggle="tooltip" title="Busqueda de estudiantes!">Búsqueda de estudiantes </a></li>


  <li class="active">Listado de Intervenciones</li> 
</ul>
<h3> Listado de interveciones de {{user.first_name|capfirst}} {{user.last_name|capfirst}} </h3> 
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			<td>Nª </td>
			<td>Estudiante</td>
			<td>Fecha derivación  </td>
			<td>Fecha de inicio  </td>
			<td>Estado</td>
			<td>Derivante</td>
			<td>Acciones</td>

		
		</tr>
	</thead>
	
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog"> 
   
	<tbody>
		
		{% if object_list %}
		{% for mascota in object_list %}
		
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{mascota.Estudiante.nombres|upper}} {{ mascota.Estudiante.firs_name |upper}} {{ mascota.Estudiante.last_name|upper }}</td>		
			<td>{{ mascota.dia }}-{{ mascota.mes}}-{{ mascota.anno }}</td>
			<td>{{ mascota.fecha|date:"d-m-Y "}}</td>
			<td>{{ mascota.estado }}</td>
			<td>{{ mascota.Profesional|upper }}</td>
			<td>
			<div class="btn-group-vertical">
				
				<a class="btn btn btn-warning btn-xs" href="{% url 'derivacion:derivacion_pasada_retorno_ints' mascota.Estudiante.id %}">Egresar(Ter. - Inst.)</a>
				<a class="btn btn-danger btn-xs" href="{% url 'calendario:calendar-ano-mes' %}">Realizar sesión</a>
				<a class="btn btn-info btn-xs" href="{% url 'sesion:intervencion_listar' mascota.Estudiante.id  %}">Sesiones individuales  </a>
				<a class="btn btn-success btn-xs" href="{% url 'sesion:nuevoagregar_cita' mascota.Estudiante.id  %}">Sacar Hora</a>
				<a class="btn btn-primary btn-xs" href="{% url 'sesion:buscar_citas' mascota.Estudiante.id  %}">Horas Individuales  </a>
				<a class="btn btn-warning btn-xs" href="{% url 'sesion:objetivo_intervencion' mascota.Estudiante.id  %}"> Objetivos </a>
				

			</div>	
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros </h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>

{% endblock%}
