{% extends 'base/base_centro.html' %}

{% block content %}



<table id="example" class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Descripcion </td>
			<td>Opciones </td>
		
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for mascota in object_list %}
		<tr>
			<td>{{ mascota.id }}</td>
			<td>{{ mascota.nombre }}</td>
			<td>{{ mascota.descripcion}}</td>
			


			<td>
				<a class="btn btn-info btn-xs" href="{% url 'sesion:objetivo_editar' mascota.id %}">Editar</a>
				<a class="btn btn-success btn-xs" href="{% url 'sesion:objetivo_eliminar' mascota.id %}">Eliminar</a>
				

				
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay objetivos definidos</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>


{{ mascota.Estudiante.firs_name }} {{ mascota.Estudiante.last_name }}



{% endblock%}
