{% extends 'base/base_centro.html' %}

{% block content %}

<table id="example" class="table table-bordered">
	<thead>
		<tr>
			<td>Nª </td>
			<td>Estudiante</td>
			<td>Fecha </td>
			<td>Objetivo</td>
			<td>Participantes</td>
			<td>Tipo Sesión</td>
		
			<td>Acciones</td>
		</tr>
	</thead>
	
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog"> 

    
      
	<tbody>
		
		{% if object_list %}
		{% for mascota in object_list %}
		
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name }} {{ mascota.Estudiante.last_name }}</td>
			<td>{{ mascota.fecha}}</td>
			<td>{{ mascota.objetivo }}</td>
			<td>{{ mascota.get_participantes}}</td>

	
			<td>{{ mascota.tipo_sesion}}</td>
				
			<td>
				<a class="btn btn-success btn-xs" href="{% url 'sesion:sesion_editar' mascota.id %}">Editar</a>
				<a class="btn btn-info btn-xs" href="{% url 'sesion:sesion_eliminar' mascota.id %}">Eliminar</a>
				
				
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de asistencia</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>


{{ mascota.Estudiante.firs_name }} {{ mascota.Estudiante.last_name }}



{% endblock%}
