{% extends 'base/base_centro.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	

	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<h3>Tipo de sesión</h3>
			</div>
		</div>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.nombre.name}}">{{form.nombre.label}}</label>
				{{form.nombre}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.observacion.name}}">{{form.observacion.label}}</label>
				{{form.observacion}}
			</div>
		</div>
		
			<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-info" type="submit">Guardar</button>
			</div>
		</div>
</form>
{% endblock %}