{% extends 'base/base_dupla.html' %}

{% block content %}


<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial dupla!">Menu </a></li>
  
  <li><a href="{% url 'alumno:listar_estudiantes_establecimiento' escuela.id %}"data-toggle="tooltip" title="Volver listado anterior!">Volver lista anterior </a></li>
  
  

  <li class="active"> Listado </li> 
</ul>

<!-- Used to open the Modal -->

<h3><strong>Listado de casos intervenidos </strong>
 <span class="label label-danger">Al {% now "SHORT_DATE_FORMAT" %} a las {% now "TIME_FORMAT"  %} </span></h3>

Listado de estudiantes en intervención  {{escuela.nombre}}
</ul>



<table id="example" class="table table-bordered" fontsize =10px>
	<thead>
		<tr>
		
			<td>Ingresado el:</td>
			
			<td>Estudiante</td>
			<td>Curso </td>
			<td>Responsable </td>
			<td>Opciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if fichas %}
		{% for mascota in fichas %}
		<tr>
					
			<td>{{ mascota.fecha_derivacion|date:"d-m-Y "}}</td>
			
			<td>{{ mascota.Estudiante.nombres}} {{ mascota.Estudiante.firs_name}} </td>
			 <td> {{ mascota.Estudiante.curso.get_numero}} {{ mascota.Estudiante.curso.get_letra}}</td>
			
			 <td>{{ mascota.usuario.first_name}} {{ mascota.usuario.last_name}}</td>
			
			
			<td>

			
			
			{% for continuar in continuidad %}
				{% if continuar.ficha_derivacion_dupla == mascota %}
					<a title="Imprimir Ficha continuidad" class="glyphicon glyphicon-print" href="{% url 'informe:fichacontinuidad_dupla_pdf_report' mascota.Estudiante.id %}"></a> Ficha continuidad 

					<a class="btn btn-success btn-xs" href="{% url 'dupla:ContinuidadUpdate' continuar.id %}">Modificar </a>
				{% endif %}
			{% endfor %}	
			
			
			</td>
			
			
		</td>
			
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>Sin registros.  </h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>





{% endblock%}

