{% extends 'base/base_dupla.html' %}
{% block content %}
<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial !">Menu </a></li>

  <li><a href="{% url 'alumno:profesinal_establecimiento_listar' %}"data-toggle="tooltip" title="Listado de establecimientos">Volver lista</a></li>
  
  
 
  <li class="active">Diagnósticos por años</li> 
</ul>
<h3>Listado de diagnosticos de : <strong> {{colegio.nombre}}</strong></h3>
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			
			
			<td>Año </td>
			
			
			<td>Responsables</td>
			<td>Resumen</td>
			<td>Conclusiones</td>
			<td>Acciones</td>

		</tr>
		
	</thead>
	<tbody>
		{% if diagnostico %}

		<tr>
		
		
		{% for escuela in diagnostico %}
			
		<td>{{ escuela.annio }} </td>
		<td>{{ escuela.responsables }} </td>
		<td>{{ escuela.resumen }} </td>
		<td>{{ escuela.plenario }} </td>
		
			<td>
			

				
				<button type="button" class="btn btn-success btn-xs">
				<a href="{% url 'dupla:DiagnosticoListView_Ver_todos' colegio.id escuela.annio %}" data-toggle="tooltip" title="ingresar indicadores">
    <span class="glyphicon glyphicon-eye-open"></span> Ver Detalles...
  </button>
				
			
			
			</td>
			
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros relacionados</h1>
		{% endif %}
	</tbody>
</table> 
{% endblock%}