{% extends 'base/base_datos_agenda_dupla.html' %}
{% load crispy_forms_tags %}
{% block content %}

<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu </a></li>
  <li><a href="{% url 'alumno:estudiante_listar' %}"data-toggle="tooltip" title="Ir listado de estudiantes intervenidos!">Estudiantes intervenidos </a></li>
  <li><a href="{% url 'derivacion:retorno' %}"data-toggle="tooltip" title="Ir listado de Fichas retornadas desde el centro de Bienestar">Listado de Fichas Retornadas </a></li>
  <li><a href="{% url 'alumno:listar_estudiantes_establecimiento' dato.curso.establecimiento.id %}"data-toggle="tooltip" title="Ir listado establecimiento">Volver a la lista</a></li>
  
  

  <li class="active">Entrevista de ingreso </li> 
</ul>
{% if mensaje %}
<div class="alert alert-danger">{{mensaje}}</div>
{% else %}

<div class="alert alert-success">Entrevista de ingreso</div>
{% endif %}
<h4> Entrevista de ingreso   {{dato.nombres|capfirst}} {{dato.firs_name|capfirst}} {{dato.last_name|capfirst}}  del  {{dato.curso.establecimiento.nombre}} cursando {{dato.curso.get_numero}} {{dato.curso.get_letra}}
 Profesor jefe   {{profe_jefe|capfirst}}  .</h4>


<h3 style="text-align:center;" > Ingresar Entrevista de ingreso Equipo de formación y convivenica.</h3>

   <form method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="row">

		<div class="col-md-10 col-md-offset-1">
		  <strong>Fecha:</strong>
		    <label for="{{form.fecha_derivacion.name}}"></label>
				
				{{form.fecha_derivacion}}
		  </div>

		  
		  <div class="col-md-10 col-md-offset-1">
		  		<strong>Indique atención previa cual? </strong>
				<label for="{{form.atencion_previa.name}}"></label>
				{{form.atencion_previa}}
		  </div>
		  <div class="col-md-10 col-md-offset-1">
		  <h4>I. ANTECEDENTES FAMILIARES</h4>
		  	<strong>- Composición de la Familia ( Genograma y tipo de relaciones ), comportamiento
		  	figuras de cuidado del estudiante, situación social ( Ej: Vulneración de derecho,  VIF, Presencia 
		  	de alcoholismo u drogas) o situación de salud.</strong>
				<label for="{{form.familia.name}}"></label>
				{{form.familia}}
		  </div>
	


		<div class="col-md-10 col-md-offset-1">
			
				<strong>Subir </strong>
				<label for="{{form.imagen.name}}">{{form.imagen.label}}</label> (Imagen)
				{{form.imagen}}
			</div>
		<div class="col-md-10 col-md-offset-1">
		 <h4>II. PROBLEMATICA</h4>
		  	<strong>- Apreciación de la posible problemática de análisis ( Posibles causas o factores,
		  	indicadores presentes y ámbitos afectados - SOCIAL , EDUCACIONAL , FAMILIAR.</strong>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<div class="form-group">
			
				<label for="{{form.problematica.name}}">{{form.problematica.label}}</label>
				{{form.problematica}}
			</div>
		</div>


		
		<div class="col-md-12 col-md-offset-1">
		{% if ficha_dupla %}
		
			<div class="form-group">
				
				
				{% if entrevista_ingreso %}
				<div class="col-md-10 ">
				<div class="alert alert-info">Ya cuenta con Entrevista de ingreso - 
				Imprimir Entrevista <a title="Ficha derivación - imprimir" class="glyphicon glyphicon-print" href="{% url 'informe:entrevistaingreso_dupla_pdf_report' dato.id %}"></a>/</dd></div></div>
				
				{% else%}
				
				<div class="alert alert-danger">Debe contar con entrevista de ingreso para poder imprimir</div>
				{% endif%}
			</div>
		
		{% else %}

		<div class="form-group">
				
				<button type="submit" class="btn btn-info">Registrar</button>
				<a class= "btn btn-danger" href="{% url 'alumno:listar_estudiantes_establecimiento' dato.curso.establecimiento.id %}">Cancelar</a>
				
			</div>
		
		{% endif %}
		</div>
	</div>
	
</form>


{% endblock %}
