{% load static%}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	

<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(function(){
        //Obtenemos la información de csfrtoken que se almacena por cookies en el cliente
    
    $("#usuario").html('{{ user.first_name}} {{user.last_name}}');

    
  });
</script>



<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
<li><a href="{% url 'alumno:listar_estudiantes_establecimiento_supervisor' estudiante.curso.establecimiento.id %}"data-toggle="tooltip" title="Ir menu inicial dupla!">Volver</a></li>

  <li class="active">Ver Ficha del estudiante</li> 
</ul>
<title>Ficha de derivación </title>
<div class="row">


 
<div class="media-body">
  <a class="pull-left" href="#">
    <img class="media-object" src='{% static "img/logo.png" %}' alt="100x100" src="data:image/p" style="width: 110px; height: 110px;" alt="Centro Bienestar">
  </a>
  <div class="media-body">
    <h2 class="media-heading">Ficha de derivación
    <span class="label label-default">{{ estudiante.nombres|capfirst }} {{ estudiante.firs_name|capfirst }} {{ estudiante.last_name|capfirst }} </span></h2>
    


  </div>
</div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Antedecentes Personales {{ estudiante.nombres|capfirst }} {{ estudiante.firs_name |capfirst}} {{ estudiante.last_name|capfirst }}</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
      <table id="example" class="table table-bordered" font-size=9>
        
      <tr><td>Rut:{{estudiante.rut}}</td>
      
      <td>Domicilio: {{estudiante.domicilio_estudiante}}</td>
      <td> Fecha de nacimiento: {{estudiante.fecha_nacimiento}}</td>
      <td> 
      <dd>Edad: {{estudiante.edad}} </dd>
      
      </tr>
     <tr>
       <td>
          Establecimiento: {{ estudiante.curso.establecimiento}}  

       </td>
       <td>
         Curso: {{ estudiante.curso.get_numero}} {{ estudiante.curso.get_letra}} 
       </td>
   <td></td>
   <td></td>
        
       
     </tr>
      </table>

     <style>
/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}
</style>

<!-- Used to open the Modal -->
<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Resumen Ficha / Imprimir Ficha</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog"> 

    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h5><span class="glyphicon glyphicon-user"></span> Profesional derivante:{{ficha.usuario}}<h5 id="usuario"></h5></h5> 
        
      </div> 
      <div class="modal-body"> 
        <form role="form"> 
          <div class="form-group"> 
 
                <h3>Estudiante {{ estudiante.nombres|upper }} {{ estudiante.firs_name|upper }} {{ estudiante.last_name|upper }} </h3>
                
             <dd> Establecimiento: {{ estudiante.curso.establecimiento}}</dd>
             <dd> Curso:{{ estudiante.curso.get_numero}} {{ estudiante.curso.get_letra}}</dd>
             <dd>Imprimir ficha de derivación <a title="Ficha derivación - imprimir" class="glyphicon glyphicon-print" href="{% url 'informe:fichaderivacionegresodupla_pdf_report' estudiante.id %}"></a>/</dd>
           

      </h4>
     </div> 
          
      <div class="modal-footer">  
        <button type="submit" class="btn btn-info btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-add"></span> Aceptar
        </button> 
       
    </div>
  </div>
</div>
      
      

      

      </div>
    </div>
  </div>
  
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">





      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Ficha de derivación</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Ficha de egreso la cual puede ser derivado a 
  una entidad externa o egresado de la intervención de su dupla PsicoSocial. </div>
    </div>
  </div>
</div>


<ul id="tab" class="nav nav-tabs" role="tablist"> 
<li> 
<a id="tab1-tab" aria-controls="tab1" data-toggle="tab" role="tab" href="#tab1" aria-expanded="true">Ficha de derivación</a> 
</li> 

</ul> 
<div id="tabContent" class="tab-content"> 
<div id="tab1" class="tab-pane fade" aria-labelledby="profile-tab" role="tab-panel"> 

<div class="container">

      <td>
       
          {% if deriva %}
             Motivo de la derivación: <ul>{{deriva.get_motivo_termino}} </ul>
             Motivo: <li>{{deriva.motivo}} </li>
             Fecha de la derivación: <li>{{deriva.fecha_derivacion|date:"d-m-Y "}} </li>
             Observación:<li>{{deriva.observacion_termino}} </li>

              {% if deriva.Red_apoyo == 'No es derivado a otra institución' %}
                Situación:Información incompleta
              {% else %}
                Situación :<strong>{{deriva.Red_apoyo.nombre}} </strong> 
                
                     {% if deriva.filename1  %}
                          <li>Nombre del archivo 1:<a href="{{ deriva.docfile1.url }}"><span class="glyphicon glyphicon-floppy-save"></span> </a>{{ deriva.filename1 }} 
                     {% else %}
                            <ul>Sin asignación de archivo nª1</ul>
                     {% endif %}

                  {% if deriva.filename2  %}

                    <li>Nombre del archivo 2:<a href="{{ deriva.docfile2.url }}"><span class="glyphicon glyphicon-floppy-save"></span></a> {{ deriva.filename2 }} 
                
                   {% else %}     
                        <ul>Sin asignación de archivo nª2</ul>

                    {% endif %}      

                     {% if deriva.filename3  %}

                     <li>Nombre del archivo 3:<a href="{{ deriva.docfile3.url }}"><span class="glyphicon glyphicon-floppy-save"></span></a> {{ deriva.filename3 }} 
                      {% else %}     
                        <ul>Sin asignación de archivo nª3</ul>

                    {% endif %}  



              {% endif %}
              {% else %}
              <h3>No cuenta con dicha de derivación</h3>
          {% endif %}
        
      </td>


<div class="buttons " align="center"> 
<a href="#" class="btn btn-default " tab-to-open="tab2">Subir</a> 

</div> 
<section id="ficha" class="ficha">
  <div id="menu2" class="tab-pane fade">

  	<div class="container">
    	<h3>Ficha de derivación  </h3>
      
      <td>
       
          {% if deriva %}
             Motivo de la derivación: <ul>{{deriva.get_motivo_termino}} </ul>
             Motivo: <li>{{deriva.motivo}} </li>
             Fecha de la derivación: <li>{{deriva.fecha_derivacion|date:"d-m-Y "}} </li>
             Observación:<li>{{deriva.observacion_termino}} </li>

              {% if deriva.Red_apoyo == 'No es derivado a otra institución' %}
                Situación:Información incompleta
              {% else %}
                Situación :<strong>{{deriva.Red_apoyo.nombre}} </strong> 
                
                     {% if deriva.filename1  %}
                          <li>Nombre del archivo 1:<a href="{{ deriva.docfile1.url }}"><span class="glyphicon glyphicon-floppy-save"></span> </a>{{ deriva.filename1 }} 
                     {% else %}
                            <ul>Sin asignación de archivo nª1</ul>
                     {% endif %}

                  {% if deriva.filename2  %}

                    <li>Nombre del archivo 2:<a href="{{ deriva.docfile2.url }}"><span class="glyphicon glyphicon-floppy-save"></span></a> {{ deriva.filename2 }} 
                
                   {% else %}     
                        <ul>Sin asignación de archivo nª2</ul>

                    {% endif %}      

                     {% if deriva.filename3  %}

                     <li>Nombre del archivo 3:<a href="{{ deriva.docfile3.url }}"><span class="glyphicon glyphicon-floppy-save"></span></a> {{ deriva.filename3 }} 
                      {% else %}     
                        <ul>Sin asignación de archivo nª3</ul>

                    {% endif %}  



              {% endif %}
          {% endif %}
        
      </td>

      {% if ficha %}
     <td>
      <strong>Motivo de la derivacion:</strong>
       <ul>{% for motivo in ficha.all %}
        <li>
          {{motivo.nombre}}
        </li>
        
        {% endfor %}

      </ul>
    
  <strong><ul>Apreciacion del equipo respecto al motivo de consulta (Posibles causas o factores, indicadores presentes y Ámbitos
  afectados -social, Educacinal , Familiar)</ul></strong>
  <li> {{ficha.cuatro}} </li>
  
  <ul><strong>Señale las acciones realizadas frete a la situacion descrita anteriormente</strong></ul>
  <li>{{object.cinco}}</li>
  <ul><strong>Describa antedecentes escolares
  CONDUCTA (Elementos más destacables positivos y negativos)</strong></ul>
  <li>{{ficha.conducta}}</li>

  <ul><strong>RENDIMIENTO (Area de mayor y menor dificultad)</strong></ul>
  <li>{{ficha.rendimiento}}</li>

  <ul><strong>AREA DE RESPONSABILIDAD(Asistencia cumplimiento de deberes)</strong></ul>
  <li>{{object.area_responsabilidad}}</li>

 <ul><strong>ANTECEDENTES FAMILIARES</strong>
 - Composición de la familia(Genograma y tipo de relaciones)
 - Comportamiento figuras de cuidado del estudiante
 - Situación social (El: vulneración de derecho, VIF, Presencia de alcoholismo o drogas )
 - Situación de salud</ul>
 <li>{{ficha.antecedentes_familiares}}</li>

<ul><strong>Antedecentes de salud del estudiante y su grupo familiar (Patologías, consumo de sustancias)</strong></ul>
  <li>{{ficha.seis}}</li>
<ul><strong>Observaciones generales del equipo PsicoSocial</strong></ul>
  <li>{{ficha.observacion}}</li>  

 </td>
</div>
{% endif%}
</section>
		
  <!--firma  -->
  <!--FIN -->
     <!-- Form code ends --> 
    

    </div>
  </div>    
 </div>
</div>

<div align="center">
  <div class="alert alert-sucess">En Cabildo a  {% now "SHORT_DATETIME_FORMAT" %}</div>  
</div>  

</body>
</html>