{% extends 'base/base_usuario.html' %}

{% block content %}


<!-- Used to open the Modal -->
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_centro' %}"data-toggle="tooltip" title="Ir menú inicial centro!">Menu </a></li>
  </li>
  

  <li class="active"> Listado </li> 
</ul>
<h3><strong>Listado de todas las fichas derivadas</strong>
 <span class="label label-danger">Al {% now "SHORT_DATE_FORMAT" %} a las {% now "TIME_FORMAT"  %} </span></h3>

<p>Listado de todos los estudiantes derivados  al centro de bienestar --

	
</p>
</ul>


<table id="example" class="table table-bordered" fontsize =10px>
	<thead>
		<tr>
		
			<td>Nª:</td>
			<td>Derivado el /Estado:</td>
			<td>Estudiante</td>
			<td>Curso Establecimiento</td>
			<td>1:Derivado / 2:Atendido</td>

		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for mascota in object_list %}
		<tr>
					
			<td>Nª {{mascota.id}}<td>
			<dd><small>{{ mascota.fecha_derivacion|date:"d-m-Y "}}</small></dd>
			{% with estado=mascota.pasada %} 
			{% if estado == 1 %}

			Ficha en bandega de entrada
			
			{% elif estado == 2 %}
	 		
			
			 Espera desde {{ mascota.fecha_espera|date:"d-m-Y "}}
			
			{% elif estado == 3 %}
			
			<a class="btn btn-info btn-xs" href="{% url 'sesion:historia_supervisor' mascota.id mascota.Estudiante.id  %}">Historia</a>
			<a class="btn btn-success btn-xs" href="{% url 'dupla:Dupla_casos_supervisor' mascota.Estudiante.id  %}">Historia Dupla</a>

			En intervención
			
			{% elif estado == 4 %}
			<strong>Otra institución</strong>
			<a class="btn btn-info btn-xs" href="{% url 'sesion:historia_supervisor' mascota.id mascota.Estudiante.id  %}">Historia Centro</a>
			
			{% elif estado == 5 %}
			<strong>Retorno</strong>Por falta de información
			
			
			{% elif estado == 6 %}
			<strong>Estudiante dado de alta</strong>
			

			{% elif estado == 7 %}
			<strong>Estudiante en lista de egreso</strong>
			<a class="btn btn-info btn-xs" href="{% url 'sesion:historia_supervisor' mascota.id mascota.Estudiante.id  %}">Historia Centro</a>
			{% endif %}

		
			</td>
			
			
			<td>{{ mascota.Estudiante.nombres|title|truncatewords:'1'}} {{ mascota.Estudiante.firs_name|title|truncatewords:'1'}} </td>
			 <td> {{ mascota.Estudiante.curso.get_numero}} {{ mascota.Estudiante.curso.get_letra}} {{ mascota.Estudiante.curso.establecimiento.nombre}}

			 </td>

			
			 
			<td>
				{{mascota.usuario.first_name}} {{mascota.usuario.last_name}}
			
				
				{% if intervenidos %}
				
					{% for intervencion  in intervenidos  %}

						{% if intervencion.Estudiante == mascota.Estudiante    %}
						<p style="color:#FF0000";> 1-{{intervencion.usuario.first_name}} {{intervencion.usuario.last_name}}</p>
						
						
						
						


						{% endif %}	
					{% endfor %}


					
			{% endif %}	
			{% endwith %}	
	

			
		
			
			</td>
		
		</td>
	

		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de intervenciones </h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>





{% endblock%}

