{% extends 'base/base_centro.html' %}

{% block content %}

</style>

<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_centro' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu </a></li>
  
  <li><a href="{% url 'derivacion:intervencion_listar' %}"data-toggle="tooltip" title="Ir listado de Fichas estudiantes !">Listado de fichas estudiantes </a></li>
  <li><a href="{% url 'derivacion:intervencion_retorno' %}"data-toggle="tooltip" title="Ir listado de estudiantes a ser egresados!">Listado estudiantes a ser egresados </a></li>
  <li><a href="{% url 'derivacion:centro_listar' %}"data-toggle="tooltip" title="Ir listado de estudiantes entrantes!">Listado estudiantes entrantes </a></li>



  <li class="active"> Listado </li> 
</ul>




<h4>LIstado de estudiantes en lista de espera</h4>

<table id="example" class="table table-bordered" fontsize =10px>
	<thead>
		<tr>
			<td>#</td>
			<td>Fecha Derivacion</td>
			<td>Fecha Ingreso </td>
			<td>Estudiante</td>
			<td>Curso Establecimiento</td>
			<td>Profesional</td>
			<td>Opciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for mascota in object_list %}
		<tr>
			<td>{{ mascota.id }}</td>		
			<td>{{ mascota.fecha_derivacion|date:"d-m-Y "}}</td>
			<td>{{ mascota.fecha_espera|date:"d-m-Y "}}</td>

			<td>{{ mascota.Estudiante.nombres|capfirst}} {{ mascota.Estudiante.firs_name |capfirst}} </td>
			 <td> {{ mascota.Estudiante.curso.get_numero}} {{ mascota.Estudiante.curso.get_letra}} {{ mascota.Estudiante.curso.establecimiento.nombre}}</td>
			
			 <td>{{ mascota.usuario.first_name|capfirst}} {{ mascota.usuario.last_name|capfirst}}</td>
			<td>
		
			
			<a class="btn btn-success btn-xs" href="{% url 'derivacion:sesion' mascota.id %}">Salir lista </a>

			
		</td>
			

		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de listas de espera </h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>





{% endblock%}

