{% extends 'base/base_pie.html' %}
{% load crispy_forms_tags %}
{% block content %}

<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_pie' %}"data-toggle="tooltip" title="Ir menu inicial pie!">Menú </a></li>
  <li><a href="{% url 'alumno:EstudianteListpie' %}"data-toggle="tooltip" title="Ir listado de estudiantes intervenidos!">Estudiantes intervenidos </a></li>
 


  

  <li class="active">Listado familiares</li> 
</ul>
{% if mensaje %}
<div class="alert alert-danger">{{mensaje}}</div>
{% else %}

<div class="alert alert-success">Ingresar Ficha de derivación</div>
{% endif %}
<h4> Ficha de derivación de  {{dato.nombres|capfirst}} {{dato.firs_name|capfirst}} {{dato.last_name|capfirst}}  del  {{escuela.nombre}} cursando {{dato.curso.get_numero}} {{dato.curso.get_letra}}.</h4>



<h3 style="text-align:center;" > Ingresar Ficha de derivación.</h3>
<div class="col-md-8 col-md-offset-2">
<form method="post" enctype="multipart/form-data">
	
	{% csrf_token %}

	{{ form|crispy }}
	 
	<button type="submit" class="btn btn-info">Registrar</button>
	<a class= "btn btn-danger" href="{% url 'alumno:listar_estudiantes_establecimiento' dato.curso.establecimiento.id %}">Cancelar</a>


</form>
</div>

{% endblock %}
