{% extends 'base/base_centro.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}

	{{estudiante.nombres|capfirst }} {{estudiante.firs_name|capfirst }}   {{estudiante.last_name|capfirst }}

	<h3>Cambio de asignación   {{ object.Estudiante}} </h3>	
	<button class="btn btn-dark" type="submit"></button>
	<form  action = "/ your-name /"  method = "post" > 
    <label  for = "your_name" > Ingrese motivo de derivación interna </ label > 
    <input  id = "observacion"  type = "textarea"  name = "your_name"  value = " {{  current_name  }} " > 
  
</form >
	<a class= "btn btn-default" href="{% url 'derivacion:centro_listar' %}">Aceptar</a>
</form>
{% endblock %}