{% extends 'base/base_centro.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}

	<table id="example" class="table table-bordered" fontsize =10px>
	<thead>
		<tr>
		
			<td>Nombre :</td>
			<td>{{ object.Estudiante.nombres|upper}} {{ object.Estudiante.firs_name|upper}} {{ object.Estudiante.last_name|upper}}</strong></td>
			</h4>
		</tr>
		<tr>
		
			<td>Establecimiento :</td>
			<td>{{ object.Estudiante.curso.establecimiento.nombre}} </td>
	
		</tr>
		<tr>
		
			<td>Curso actual (Informado)  :</td>
			<td>{{ object.Estudiante.curso.get_numero}}  {{ object.Estudiante.curso.get_letra|upper}} </td>
	
		</tr>
		<tr>
		
			<td>Derivado  por :</td>
			<td>{{ object.usuario.first_name|upper}} {{ object.usuario.last_name|upper}}</td>
	
		</tr>
		
		<tr>
		
		<td>Motivos de la intervención :</td>
			
			<strong>Motivo de la derivación:</strong>
			<td>
				
			 {% for motivo in object.Motivo_derivacion.all %}
         <li> {{motivo.nombre}}</li>
        	
        
        {% endfor %}	
			</td>
    
		</tr>
		<tr>
		
			<td>Intervenido por :</td>
			<td>{{ user.first_name|upper}} {{ user.last_name|upper}}</td>
	
		</tr>
		
	</thead>
	<tbody>

		
		<tr>
		
		<h4>El estudiante comienza su intervención el día {% now "DATE_FORMAT" %} .</h3>			
		</tr>
		
		
		
	</tbody>
</table> 



	
	<h4>¿Desea comenzar la intervención ?</h3>	

	
	<button class="btn btn-danger" type="submit">Sí, enviar</button>
	<a class= "btn btn-info" href="{% url 'derivacion:centro_listar' %}">Cancelar</a>
</form>
{% endblock %}