{% extends 'base/base_datos_agenda_dupla.html' %}
{% load crispy_forms_tags %}

{% block content %}
<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial !">Menu </a></li>

  <li><a href="{% url 'plan:PlanificacionListView' plan.establecimiento.id %}"data-toggle="tooltip" title="Listado de establecimientos">Establecimientos</a></li>
<li><a href="{% url 'plan:ver_plancillo'  accion.id base.id %}"data-toggle="tooltip" title="Volver planes!">Listado de planes </a></li>


  {% if mensaje %}
  {{ mensaje }}
  <li><a href="{% url 'plan:PlanListView' escuela.id %}"data-toggle="tooltip" title="Listado de plan">Ver Plan</a></li>
  {% endif%}
  {% if messages %}
  <div class='alert-warning'>
    {% for message in messages %}
      {{ message }}<br>
    {% endfor %}
  
{% endif %}

  <li class="active">INGRESAR ACTIVIDAD<STRONG> ( Si la fecha/hora estan ocupadas no permite ingresar, si el mes es anterior al actual NO PERMITE INGRESAR )</STRONG></li> 
</ul>

  <div class="p-3 mb-2 bg-success text-white">Ingresar actividad para :{{plancito.nombre}} / {{accion.nombre}} / {{base.nombre}} / {{plan.establecimiento.nombre}} / <strong>{{actividad.get_mes}}</strong> </div> 

	<form method="post">
  
	{% csrf_token %}
	
	 {{ form|crispy }}

	<button class="btn btn-info " type="submit">Registrar</button>
</form>
 
{% endblock %}