{% extends 'base/base_dupla.html' %}

{% block content %}

<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menú </a></li>
  

 
    <li><a href="{% url 'plan:PlanListView' escuela.id %}"data-toggle="tooltip" title="Volver plan">Ver Plan</a></li>

  <li class="active">Eliminar base {{base.nombre|capfirst}} del plan {{plan.nombre|capfirst}}</li> 
</ul>

<form method="post">
	{% csrf_token %}
	<h4>¿Desea eliminar el componente:  <strong>{{ base.nombre|capfirst }}</strong> de su plan definido 
	para la sub-dimensión <strong>{{base.dimension.nombre}}  </strong>?</h4>	
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-info" href="{% url 'plan:PlanListView' escuela.id %}">Cancelar</a>

</form>
{% endblock %}