{% extends 'base/base_dupla.html' %}

{% block content %}

<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu </a></li>
  
  <li><a href="{% url 'alumno:profesinal_establecimiento_listar' %}"data-toggle="tooltip" title="Listado de establecimientos">Listado establecimientos</a></li>
<li><a href="{% url 'plan:AccionesListView' base.id %}"data-toggle="tooltip" title="Listado de acciones">Lista acciones</a></li>

  <li class="active">Eliminar acción:{{accion.nombre}} base {{base.nombre|capfirst}} del plan {{plan.nombre|capfirst}}</li> 
  <h2>Al eliminar una acción, se eliminará automáticamente toda la información
  relacionada a dicho componente y no hay forma alguna de revertir dicho
  proceso. </h2>
</ul>

<form method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar la acción : {{accion.nombre}}  de la base {{ base.nombre|capfirst }}  ?</h3>	
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-info" href="{% url 'plan:AccionesListView' base.id %}">Cancelar</a>

</form>
{% endblock %}