{% extends 'base/base_datos_agenda_dupla.html' %}
{% block content %}
<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial !">Menu </a></li>

  <li><a href="{% url 'alumno:profesinal_establecimiento_listar' %}"data-toggle="tooltip" title="Listado de planes">Establecimientos</a></li>

  <li><a href="{% url 'plan:PlanListView' escuela.id %}"data-toggle="tooltip" title="Volver plan">Ver Plan</a></li>

  {% if indicadores >= 1 %}
  <li><a href="{% url 'plan:AccionesListView' accion_base.id %}"data-toggle="tooltip" title="Plan">Ver acciones</a></li>
  {% endif %}
 

  <li class="active">Ingresar Acción para el componente {{accion_base.nombre}} de {{accion_base.plan.establecimiento.nombre}}</li> 
</ul>
{% if mensaje %}
<div class="alert alert-info">{{mensaje}} CANTIDAD DECLARADA : {{cantidad_indicadores_base}} v/s CANTIDAD INGRESADA: {{indicadores}}</div>
{% else %}

<div class="alert alert-success"><h4>Componentes para :{{escuela.nombre}} </h4></div>
{% endif %}
	<form method="post">
  
	{% csrf_token %}
	{{ form.as_p }}
	

	<button class="btn btn-info " type="submit">Registrar</button>
</form>
 
{% endblock %}