{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  

<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(function(){
        //Obtenemos la información de csfrtoken que se almacena por cookies en el cliente
    
    $("#usuario").html('{{ user.first_name}} {{user.last_name}}');

    
  });
</script>



<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu PsicoSocial</a></li>
  <li><a href="{% url 'alumno:profesinal_establecimiento_listar' %}"data-toggle="tooltip" title="Listado de establecimientos">Volver lista</a></li>
  

  <li class="active">Ver Plan.</li> 
</ul>
<title> Plan de gestión formación y convivencia. </title>
<div class="row">
  <div class="col-md-4"> Dem Cabildo el {% now "SHORT_DATETIME_FORMAT" %} .</div>
  
  
  </div>


<div class="media-body">
  <a class="pull-left" href="#">
    <img class="media-object" src='{% static "img/logo-convivencia-escolar.gif" %}' alt="100x100" src="data:image/p" style="width: 110px; height: 110px;" alt="Centro Bienestar">
  </a>
  <div class="media-body">
  <h2 class="media-heading">Plan de gestión
 <span class="label label-default">{{ colegio.nombre|capfirst }}  </span></h2>
    

  </div>
</div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Plan de gestión y convivencia {{ colegio.nombre|capfirst }} </a>

      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
      <table id="example" class="table table-bordered" font-size=9>
        
      <tr><td>Fecha creación: {{plan.fecha}}</td></tr>
      
      <tr><td>Grupo de trabajo: {{plan.responsable}}</td></tr>
      <tr><td>Sello: {{plan.sello}}</td></tr>
      <tr><td> 
      Objetivo General:{{plan.objetivo_general}}</td></tr>
      <tr><td>
        <dd>Objetivos especificos:{{plan.objetivo_especificos}}</dd>
      </td></tr>
       <tr><td>
        <dd>Año de vigencia :{{plan.annio}}</dd>
      </td></tr>
      
      
      </tr>
     <tr>
   
     
        
       
     </tr>
      </table>

     <style>
/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #EEBA0A;
    color: ##625008 !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 20px 50px;
}
</style>

<!-- Used to open the Modal -->
<a class="btn btn-success btn-sm" href="{% url 'plan:modificar_plan' plan.id %}"><small>Modificar Plan</small></a>
<a class="btn btn-warning btn-sm" href="{% url 'plan:ActividadesListView' plan.id %}"><small>Ver total actividades</small></a>
<a class="btn btn-warning btn-sm" href="{% url 'plan:ActividadesListView' plan.id %}"><small>Ver Plan</small></a>
<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Ingresar Componente </button>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog"> 

    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h5>Bases del plan de gestión</h5> 
        
      </div> 
      <div class="modal-body"> 
       

        <form method="post">
  
  {% csrf_token %}
  {{ form.as_p }}
  

  <button class="btn btn-info " type="submit">Registrar</button>
</form>


    

      <div class="modal-footer">  
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-add"></span> Aceptar
        </button> 
       
    </div>
  </div>
</div>
      

      

      </div>
    </div>
  </div>
  
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Bases definidas</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Listado de las bases definidas  determinadas, por el equipo de 
      formación y convivencia escolar. Estableciendo un sistema cohesionado con la comuni</div>
    </div>
  </div>
</div>




<ul id="tab" class="nav nav-tabs" role="tablist"> 
<li> 
<a id="tab1-tab" aria-controls="tab1" data-toggle="tab" role="tab" href="#tab1" aria-expanded="true">Listado de acciones bases del plan</a> 
</li> 
 
</ul> 


<div id="tab1" class="tab-pane fade" aria-labelledby="profile-tab" role="tab-panel"> 

<div class="container">

<table id="example" class="table table-bordered"  border=25px fontsize =12px>
  <thead>
    <tr>
    
      <td> <strong>Listado de acciones base:</strong> </td>
      {% if base %}
  
     <td><strong>Listado de las acciones pilares de nuestro plan </strong>
     <ul>{% for motivo in base %}
        <li>
          {{motivo.nombre}} - {{motivo.dimension.nombre}}  - <a href="{% url 'plan:ingresar_indicador' motivo.id colegio.id  %}" data-toggle="tooltip" title="ingresar indicadores">indicadores: </a> {{motivo.cantidad_indicadores}} - <a href="{% url 'plan:ingresar_acciones' motivo.id colegio.id  %}" data-toggle="tooltip" title="Abrir acciones">Acciones: </a>{{motivo.cantidad_acciones}} 

        

        
  
  <a class="btn btn-info btn-sm" href="{% url 'plan:ver_bases' motivo.id %}"><small>Ver base</small></a>
  <a class="btn btn-success btn-sm" href="{% url 'plan:modificar_base' motivo.id %}"><small>Modificar base</small></a>
  <a class="btn btn-danger btn-sm" href="{% url 'plan:eliminar_base' motivo.id %}"><small>Eliminar base</small></a>
  
  


        </li>
        
    {% endfor %}

      </ul>
  
    </td>
    </tr>
    
    
  <tbody>
    <tr>  <h4>Deglose de acciones bases a ser alcanzadas</h4> </tr>
  </tbody>
</table> 

 </td>
</div>
{% endif%} 
</div> 




<div class="buttons-tab-nav "> 
<a href="#" class="btn btn-default " tab-to-open="tab2">Subir</a> 

</div> 
<section id="ficha" class="ficha">
  <div id="menu2" class="tab-pane fade">

    <div class="container">
      


<table id="example" class="table table-bordered">
  <thead>
    <tr>
      
      

    
    </tr>
    
  </thead>

</table> 

</section>

</table>    
  <!--firma  -->
  <!--FIN -->
     <!-- Form code ends --> 
    

    </div>
  </div>    
 </div>
</div>

<div align="center">

  <div class="alert alert-sucess">En Cabildo a  {% now "SHORT_DATETIME_FORMAT" %}</div>  
</div>  

</body>
</html>