{% extends 'base/base_dupla.html' %}
{% block content %}
<ul class="breadcrumb" >

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menú inicial !">Menú </a></li>

  <li><a href="{% url 'dupla:listar_convivencia_escolar' colegio.id %}"data-toggle="tooltip" title="Listado de establecimientos">Volver lista</a></li>
 
  <li class="active">Planes por años</li> 
</ul>

<h3>Listado de planes  : <strong> {{colegio.nombre}}</strong></h3>
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			
			
			<td>Año </td>
			<td>Fecha/creación </td>
			<td>Nombre plan</td>
			<td>Descargable</td>
			<td>Ver</td>
			<td>Modificar</td>
			<td>Eliminar</td>

		</tr>
		
	</thead>
	<tbody>
		{% if planes %}

		<tr>
		{% for escuela in planes %}
			
			<td>{{ escuela.fecha|date:" Y "}} </td>
			<td>{{ escuela.fecha|date:"d-m-Y "}} </td>
			<td><li>{{ escuela.nombre }}</li></td>
			
			
			
	{% if escuela.docfile1 %}		        			
	<td><a href="{{ escuela.docfile1.url }}"><span class="glyphicon glyphicon-floppy-save"></span> </a>Descargar plan </td>
	{% else %}	
		<td>Plan sin documento adjunto</td>
	{% endif %}	

	<td>
		<button type="button" class="btn btn-info btn-xs">
		<a  href="{% url 'plan:PlanesConvivenciaVERListView' escuela.id %}">Actualizar</a>
 			
 	 	</button>
	</td>	
	<td>
		<button type="button" class="btn btn-success btn-xs">
 			Modificar
 	 	</button>
	</td>
	<td>
		<button type="button" class="btn btn-danger btn-xs">
 			Eliminar
 	 	</button>
	</td>
			
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros relacionados</h1>
		{% endif %}
	</tbody>
</table> 
{% endblock%}