{% extends 'base/base_datos.html' %}

{% block content %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_dupla' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menú </a></li>
  <li><a href="{% url 'plan:PlanListView' plan.establecimiento.id %}"data-toggle="tooltip" title="Volver!">Volver</a></li>
 

  <li class="active"> Deglose plan</li> 
  </ul>
<form method="post">
  {% csrf_token %}

<center>
  <table class="table table-bordered"  border=15px fontsize =14px>
  <thead>
  
  <h4>Deglose de plan de trabajo de :{{plan.establecimiento.nombre}}</h4>
    <TH COLSPAN=4 bgcolor="#E1F8FA" style="text-align:center;"> Plan Gestión y Convivencia Escolar </TH>
 
</TR>

<TR>
    <TD COLSPAN=4> Fecha creación plan :{{plan.fecha}}
    <dd>Objetivo general  :{{plan.objetivo_general}}</dd>
    <dd>Objetivo especifico  :{{plan.objetivo_especificos}}</dd>

   
	
    <dd><span class="glyphicon glyphicon-briefcase"></span>. RESPONSABLES :{{plan.responsable }} </dd>
</TD>
</TR>
 

<TR>
    <TH COLSPAN=4 bgcolor="#E1F8FA" style="text-align:center;" >INDICADORES DE CALIDAD</TH>
    
  </TR>
  


  <TR>
    
{% for sesion in base.all %}
    
   </TR>
 <TR  bgcolor="#E5F3CF">
   <TD COLSPAN=1>Nombre: {{sesion.nombre}}  </TD>
    <TD COLSPAN=1>Indicador: {{sesion.dimension}} </TD>
    <TD COLSPAN=1>Objetivo: {{sesion.objetivo }}</TD>
    <TD COLSPAN=1>Acciones:{{sesion.cantidad_acciones }} Indicadores {{sesion.cantidad_indicadores }}</TD>
  </TR>  
<TD COLSPAN=4>
{% for accion_activa in accion.all %}
    {% if accion_activa.base == sesion %}
    <dd><span class="glyphicon glyphicon-list-alt"></span> Acción : {{accion_activa.nombre }}</dd>
    <dd><span class="glyphicon glyphicon-eye-open"></span> Descripcion :{{accion_activa.descripcion }}</dd>
    <dd><span class="glyphicon glyphicon-lock"></span>Estrategia:{{accion_activa.objetivo_estrategico }}</dd>
    
    
    
    {% endif %}
{% endfor %}



   
   
   
{% endfor %}
<TR>
    <TH COLSPAN=4 bgcolor="#E1F8FA" style="text-align:center;" >DEGLOSE: Plan de Gestión de Convivencia Escolar</TH>
    
  </TR>
<TR>
    <TD COLSPAN=4>

<ul>
{% for sesion in base %}
    <li class="store_item">{{ sesion.nombre }}</li>
        <ul>
          
            {% for accion_activa in accion %}
                    {% if accion_activa.base == sesion %}
                    <li class="store_item">{{ accion_activa.nombre }}</li>
                    <ul>
                     {% for plancillo_activo in plancillo %}
                          {% if plancillo_activo.accion == accion_activa %}
                             <li class="store_item">PLAN DE ACTIVIDADES: {{plancillo_activo.nombre}}  </li>
                            <ul>  
                            {% for actividad_activa in actividades %}
                              {% if actividad_activa.plancillo == plancillo_activo %}
                            <li class="store_item">Actividad: {{actividad_activa.nombre}} -/- {{actividad_activa.descripcion}}-/-
                            <strong>{{actividad_activa.get_ejecutores}}</strong> 
                             {{actividad_activa.get_estado}}
                            </li>
                               {% endif%}
                            {% endfor %}      
                           </ul>  
                           {% endif %}
                      {% endfor %}          
                  </ul>
                  {% endif %}  
              {% endfor %}
           </ul>   
        {% endfor %}    
</ul>




  </TR>

<TR>
    <TH COLSPAN=4 bgcolor="#F7E0E9" style="text-align:center;" > {{plan.establecimiento.nombre}} <STRONG> - RESUMEN</STRONG></TH>
    
  </TR>

      
      <TD COLSPAN=4>  
      
     
      <ul>Profesional activo: {{ user.first_name|upper}} {{ user.last_name|upper}}</ul>

      <ul><h5>Panorama de cumplimiento del plan </h5></ul>

      

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actividades</th>
      <th scope="col">Total</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Creadas</td>
      <td>{{act_creadas}}</td>
      <td>Actividades solo creadas. </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Planificadas</td>
      <td>{{act_planificadas}}</td>
      <td>Actividades con asignación de fecha / hora / planificación.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ejecutadas</td>
      <td>{{act_ejecutadas}}</td>
      <td>Actividades realizadas </td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Justificadas</td>
      <td>{{act_justificadas}}</td>
      <td>Actividades planificadas, no realizadas <strong>sin </strong>fecha próxima.</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Re-agendadas</td>
      <td>{{act_reagendadas}}</td>
      <td>Actividades planificadas, no realizadas <strong> con </strong> fecha próxima.</td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>Fuera de plazo</td>
      <td>{{act_fuera_plazo}}</td>
      <td>Actividades planificadas, no realizadas <strong> DENTRO DEL MES SEÑALADO.</strong> </td>
      
    </tr>

     <tr>
      <th scope="row">7</th>
      <td><strong>Total de actividades</strong></td>
      <td>{{actividad_plan}}</td>
      
    </tr>


  </tbody>
</table>
<h4>Indicadores de impacto</h4>
{% for k in base %}
    {% for v in indicadores %}
      {% if v.base == k %}
        <li>{{v.nombre}} con un  {{v.get_nivel_logro}} <strong>de logros. En base a </strong>{{v.objetivo}} <strong> y un alcance</strong> {{v.alcance}} <strong>descrito por </strong>{{v.descripcion}}</li>
        
      {% endif %}  
        
    {% endfor %}
    
{% endfor %} 

{{indice}} 
  
      </TD>
   
  
    </tr>
    
    
  </thead>
  <tbody>

    
    
    
    
  </tbody>
</table> 
</center>
  
  
</form>















{% endblock %}