{% extends 'base/base_secre.html' %}

{% block content %}

<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_centro' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu centro</a></li>
  <li><a href="{% url 'calendario:calendar-ano-mes' %}"data-toggle="tooltip" title="Ir calendario!">Calendario </a></li>
  

  <li class="active">Estudiantes en el centro de bienestar</li> 
</ul>

<table id="example" class="table table-bordered">
	<thead>
		<tr>
			<td>Nª </td>
			<td>Estudiante</td>
			<td>Fecha derivacion  </td>
			<td>Fecha de inicio  </td>
			<td>Estado</td>
			
			<td>Acciones</td>

		
		</tr>
	</thead>
	
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog"> 
   
	<tbody>
		
		{% if object_list %}
		{% for mascota in object_list %}
		
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{mascota.Estudiante.nombres|upper}} {{ mascota.Estudiante.firs_name |upper}} {{ mascota.Estudiante.last_name|upper }}</td>		
			<td>{{ mascota.dia }}-{{ mascota.mes}}-{{ mascota.anno }}</td>
			<td>{{ mascota.fecha|date:"d-m-Y "}}</td>
			<td>{{ mascota.estado }}</td>
			
			<div class="btn-group-vertical">
				<a class="btn btn btn-warning btn-xs" href="{% url 'sesion:sesion_listar'   %}">Derivación otra institución  </a>
				<a class="btn btn-info btn-xs" href="{% url 'sesion:sesion_listar_uno' mascota.Estudiante.id  %}">Sesiones individuales  </a>
				
				<a class="btn btn-success btn-xs" href="{% url 'sesion:nuevoagregar_cita' mascota.Estudiante.id  %}">Ir a solicitar hora</a>
				<a class="btn btn-danger btn-xs" href="{% url 'sesion:sesion_crear'  %}">Realizar sesion</a>
				<a class="btn btn-primary btn-xs" href="{% url 'sesion:diagnostico_listar'   %}"> Confirmación </a>
				<a class="btn btn-info btn-xs" href="{% url 'sesion:objetivo_intervencion' mascota.Estudiante.id  %}"> Objetivos </a>

			</div>	
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de asistencia</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>


{{ mascota.Estudiante.firs_name }} {{ mascota.Estudiante.last_name }}



{% endblock%}
