{% extends 'base/base_secre_simple.html' %}
{% block content %}

<h2 >Para el estudiante {{dato.nombres|capfirst}} {{ dato.firs_name|capfirst }} {{ dato.last_name|capfirst }}</h2>
<h3>Listado de sesiones realizadas</h3>
<table id="example" class="table table-striped">
	<thead>
		<tr  class="success">
			<td>Nª Total </td>
			<td># Sesión</td>
			
			<td>Fecha </td>
			<td>Horario</td>
			

			<td>Participantes</td>
			
			<td>Tipo Sesión</td>
			
		</tr>
	</thead>
	
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog">     
	<tbody>
		
		{% if sesion %}
		{% for mascota in sesion %}
		
		<tr >
			<td>{{ forloop.counter }}</td>
			<td>{{ mascota.numero }}</td>
			
			<td>{{ mascota.fecha|date:"d-m-Y "}}</td>
			<td>{{ mascota.get_horario_i}}</td>
		
		
			<td>{{ mascota.get_participantes}}</td>
		
			<td>{{ mascota.tipo_sesion}}</td>

	
				

		</tr>

		{% endfor %}
		
		{% else %}
		<h3>Sin anotaciones</h3>
		{% endif %}
	
 

<h4>Resumen general de asistencias de {{dato.nombres|capfirst}} {{dato.firs_name|capfirst}} {{dato.last_name|capfirst}}</h4>
<table id="example" class="table table-bordered">
<thead>


		<tr class="info">
			<td>Nª  </td>
			<td>Fecha </td>
			<td>Horario</td>
			<td>Situación</td>
			

		</tr>
	</thead>
<div class="modal fade" id="myModal" role="dialog"> 
  <div class="modal-dialog">     
	<tbody>
{% if agendado %}
		  
	 {% for mascota in agendado %}
	
			<tr>
				
				{% if mascota.numero == 1 %}
				<td>{{ forloop.counter }}</td>
				<td>{{ mascota.fecha|date:"d-m-Y " }}</td>
				
				<td>{{ mascota.get_horario_i}}</td>
				<td> Hora solo agendada</td>
				{% elif mascota.numero == 2 %}
				<td>{{ forloop.counter }}</td>
				<td>{{ mascota.fecha }}</td>
				
				<td>{{ mascota.get_horario_i}}</td>
				<td>Sesión realizada</td>

				{% else %}

				<td class="danger">{{ forloop.counter }}</td>
				<td class="danger">{{ mascota.fecha }}</td>
				
				<td class="danger">{{ mascota.get_horario_i}}</td>
				<td class="danger">Estudiante no asistio</td>

				{% endif %}
				
				
			</tr>
	
			
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de asistencia</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>






{% endblock%}
