{% extends 'base/base_secre.html' %}

{% block content %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  <li><a href="{% url 'comienza:entrar_secretaria' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Menu </a></li>
  <li><a href="{% url 'secretaria:secretaria_listar' %}"data-toggle="tooltip" title="Ir menu inicial centro!">Volver lista</a></li>
  

  <li class="active">Listado familiares</li> 
</ul>

<h3>Listado de apoderados para el estudiante {{estudiante.nombres}} {{estudiante.firs_name}} {{estudiante.last_name}}</h3>
	
<table id="example" class="table table-bordered">
	<thead>
		<tr>
			
			<td> Familiar</td>
			<td> Parentesco</td>
			<td> Edad</td>
			<td> Escolaridad</td>
			<td> Ocupación</td>
			<td> Dirección</td>	
			<td> Teléfono</td>	
				

		
		</tr>
		
	</thead>
	<tbody>
		{% if familia %}

			{% for estudio in familia %}
			<tr>
			

				<td>{{ estudio.nombre }} {{ estudio.apellido_p }} {{ estudio.apellido_m }}  </td>
				 <td>{{ estudio.parentesco}} </td>  
				 <td>{{ estudio.edad}} </td> 
				 <td>{{ estudio.get_escolaridad}} </td>  
				 <td>{{ estudio.ocupacion}} </td> 
				 <td style="color:#ff0000"><strong>{{ estudio.apoderado.domicilio}}</strong> </td> 
				 <td style="color:#ff0000">{{ estudio.apoderado.telefono}} </td> 
				
				
			</tr>

			{% endfor %}
	

		{% else %}
		<h1>No se registra antedecentes familiares</h1>
		{% endif %}

		
	</tbody>
</table> 





{% endblock%}
