{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	
<title>{% block title %}Programa P.I.E {% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Programas de Bienestar</title>
<link rel="icon" href='{% static "img/logo-convivencia-escolar.gif" %}'>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>
 
</head>

<body>

<h3 class="text-center" > Área P.I.E. <small>Listado de establecimiento</small></h1>
<div class="container">

	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="{% url 'comienza:entrar_pie'%}">Inicio</a>
		                  		 </div>
					            	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					                   <ul class="nav navbar-nav">
					                      <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ver (Establecientos - Derivaciones) <span class="caret"></span></a>
											 <ul class="dropdown-menu" role="menu">
											 	<li><a href="{% url 'alumno:EstablecimientoListPie' %}">Ver Establecimientos </a></li>
												 
												 
											     <li><a href="{% url 'alumno:EstudianteListpie' %}">Listar Estudiantes con ficha de derivación </a></li>
												 
												 <li><a href="{% url 'derivacion:pie' %}">Listar derivaciones </a></li>

												
												 
												 





												 

											 </ul>
				                           
				                           <li>

				                           <div class="container-fluid">
									    

				                    	<div class="container-fluid">
									    <div class="row">



									         <div class="col-sm-4">
												 <button type="button" class="btn btn-default" title="Imprimir" value="Imprime esta pagina" onclick="window.print()">
												  <span class="glyphicon glyphicon-print"></span>
												  <div class="btn-toolbar" role="toolbar">
									           			
									                </p>
									              <div class="col-sm-4">    
									        </div>
									      </div>            
									    </div>
				                      </li>
		                      		</li>
			                        
			                      </li>
		                    	</ul>

		                      <ul class="nav navbar-nav   navbar-right">
		                        	
							
		                        	<li class="dropdown">
		                        		
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
		                          			<li><a href="{% url 'usuario:cerrar' %}">Salir</a></li>
		                          			
		                        		</ul>
		                      		</li>

		                    	</ul>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>    



	{% endblock %}
		
	{% block content %}
	<h4>	Bloque de contenido		</h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}
</div>
	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
		
	$(document).ready(function() {
    $('#example').DataTable();

    $('#id_fecha_derivacion').datetimepicker();	
} );

	</script>
	{% block extrajs %}
	{% endblock %}


			
</div>
<div>
		
<div class="btn-toolbar" role="toolbar">
  
</div>
</div>

<div class = "col-md-6" > 
<div class = "span12" > 
    
</div>
</div>      
</body>
</html>
