{% extends 'base/base_director.html' %}

{% block content %}
<ul class="breadcrumb">

  <li><a href="{% url 'index' %}" data-toggle="tooltip" title="Ir pagina Principal!">Inicio</a></li>
  
 
  

  <li class="active">Listado Profesionales {{escuela.nombre}}</li> 
</ul>


<table id="example" class="table table-bordered" >
	<thead>
		<tr>
			
			<td>Información</td>
			
			<td>Profesional</td>
			
			<td>Establecimiento</td>
	


		</tr>
		
	</thead>
	<tbody>
		{% if equipo %}
		{% for estudio in equipo %}


		<tr>
			<td>
			<span class="glyphicon glyphicon-credit-card"></span> {{ estudio.profesional.rut }} 
			<li> {{ estudio.profesional.usuario.first_name}} {{ estudio.profesional.usuario.last_name_p }}</li>  
			<span class="glyphicon glyphicon-user"></span>  {{ estudio.profesional.usuario.username }}<br>
			 
			<span class="glyphicon glyphicon-envelope"></span>  {{ estudio.profesional.usuario.email }}</td>  

			<td>{{ estudio.profesional.get_profesional}}</td>
			<td>
			{% for escuela in estudio.profesional.establecimiento.all %}
			
			<li>{{ escuela.nombre}} </li>
			{% endfor %}</td>




		
			
			


				
			</td>
		
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de asistencia</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguente</a> 
    	{% endif %}
    </li>
</ul>






{% endblock%}
